@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'Banny';
  src: url("../fonts/BannyBoldRound.woff") format("woff"), url("../fonts/BannyBoldRound.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* @import "libs"; */
.header {
  position: relative;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.line-vert-l,
.line-vert-r,
.line-center {
  display: block;
  position: absolute;
  top: 100px;
  bottom: 0;
  display: block;
  width: 0.5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.line-vert-l {
  left: 22%;
}

.line-vert-r {
  right: 22%;
}

.line-center {
  top: 200px;
  left: 50%;
  /* &::before{
      position: absolute;
      top: 80%;
      left: 50%;
      content: '';
      display: block;
      width: 60px;
      height: 60px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      transform: translateX(-50%);
   } */
}

.line-center::after {
  position: absolute;
  left: 50%;
  top: 83%;
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2))), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.2)), -o-linear-gradient(rgba(255, 255, 255, 0.2));
  background: linear-gradient(rgba(255, 255, 255, 0.2)), linear-gradient(rgba(255, 255, 255, 0.2));
  background-size: 40.6% 1px, 41.3% 1px;
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right bottom;
}

.menu__link {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.menu__link:hover {
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
  color: #E8C300;
}

.logo {
  margin-top: 95px;
  margin-left: 10px;
}

.time-job {
  position: absolute;
  left: 0px;
  top: 61%;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.info-block {
  position: absolute;
  top: 45%;
  left: 50%;
  min-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.info-block__text {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.info-block__title {
  font-family: Banny;
  font-size: 96px;
  text-transform: uppercase;
  margin-top: 2.8%;
  white-space: nowrap;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.info-block__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  margin: 2.8% auto 0;
  background-color: #E8C300;
  border-radius: 50px;
}

.block-btn {
  margin-top: 3.5%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.block-btn__book {
  display: inline-block;
  width: 200px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #E8C300;
  background-color: #E8C300;
  margin-right: 20px;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

.block-btn__book:hover {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

.block-btn__explore {
  display: inline-block;
  width: 200px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: 20px;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

.block-btn__explore:hover {
  border: 1px solid #E8C300;
  background-color: #E8C300;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

.social-block {
  position: absolute;
  right: 8.1%;
  bottom: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-block a:not(:last-child) span {
  margin-bottom: 20px;
}

.social-link {
  display: block;
  width: 60px;
  height: 60px;
  -webkit-transition-duration: .2;
       -o-transition-duration: .2;
          transition-duration: .2;
}

.social-link:hover svg path {
  fill: #E8C300;
  -webkit-transition-duration: .2;
       -o-transition-duration: .2;
          transition-duration: .2;
}

.social-link:hover svg circle {
  stroke: #E8C300;
  -webkit-transition-duration: .2;
       -o-transition-duration: .2;
          transition-duration: .2;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

/* @import "media"; */
