@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);
@font-face {
	font-family: 'Banny';
	src: url('../fonts/BannyBoldRound.woff2') format('woff2'),
        url('../fonts/BannyBoldRound.woff') format('woff');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}
