.header {}

.bg {
   width: 100%;
   height: 100vh;
   @include bg();
}

.menu {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 100px;

   &__link {
      font-size: 12px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;

      &:hover {
         color: $orange;
      }
   }
}

.logo {
   margin-top: 95px;
}

.time-job {
   position: absolute;
   left: 0px;
   top: 443px;
   font-weight: 700;
   font-size: 12px;
   text-align: center;
   transform: rotate(-90deg);
}

.info-block {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin-top: 228px;

   // .info-block__text

   &__text {
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.5em;
      text-transform: uppercase;
   }

   // .info-block__title

   &__title {
      font-family: Banny;
      font-size: 96px;
      text-transform: uppercase;
      margin-top: 20px;
   }
}

.block-btn {
   margin-top: 57px;

   // .block-btn__book

   &__book {
      display: inline-block;
      width: 200px;
      height: 60px;
      line-height: 60px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      border-radius: 5px;
      background-color: $orange;
      margin-right: 20px;
   }

   // .block-btn__explore

   &__explore {
      display: inline-block;
      width: 200px;
      height: 60px;
      line-height: 60px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      margin-left: 20px;
   }
}
