.header{
   position: relative;
}
.bg {
   position: relative;
   width: 100%;
   height: 100vh;
   @include bg();
}
.line-vert-l,
.line-vert-r{
   display: block;
   position: absolute;
   top: 100px;
   bottom: 0;
   display: block;
   width: 0.5px;
   background-color: rgba(255, 255, 255, 0.2);
}
.line-vert-l{
   left: 22%;
}
.line-vert-r{
   right: 22%;
}
.menu {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 100px;
   background: linear-gradient(rgba(255, 255, 255, 0.2)), linear-gradient(rgba(255, 255, 255, 0.2));
   background-size: 41.3% 1px, 41.3% 1px;
   background-repeat: no-repeat, no-repeat;
   background-position: left bottom, right bottom;

   &__link {
      font-size: 12px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;

      &:hover {
         color: $orange;
      }
   }
}

.logo {
   margin-top: 95px;
}

.time-job {
   position: absolute;
   left: 0px;
   top: 443px;
   font-weight: 700;
   font-size: 12px;
   text-align: center;
   transform: rotate(-90deg);
}

.info-block {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin-top: 228px;

   // .info-block__text

   &__text {
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.5em;
      text-transform: uppercase;
   }

   // .info-block__title

   &__title {
      font-family: Banny;
      font-size: 96px;
      text-transform: uppercase;
      margin-top: 20px;

      &:after {
         content: "";
         display: block;
         width: 60px;
         height: 5px;
         margin: 23px auto 0;
         background-color: $orange;
         border-radius: 50px;
         text-align: center;

      }
   }
}

.block-btn {
   margin-top: 30px;

   // .block-btn__book

   &__book {
      display: inline-block;
      width: 200px;
      height: 60px;
      line-height: 60px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      border-radius: 5px;
      background-color: $orange;
      margin-right: 20px;
   }

   // .block-btn__explore

   &__explore {
      display: inline-block;
      width: 200px;
      height: 60px;
      line-height: 60px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      margin-left: 20px;
   }
}