body {
   font-family: 'Open Sans', sans-serif;
   color: #fff;
}

.container {
   max-width: 1310px;
   padding: 0 15px;
   margin: 0 auto;
}



.hidden {
   font-size: 0;
   height: 0;
   visibility: hidden;
}