.ourteam *{
   color: #fff;
}
.ourteam{
   position: relative;
   @include bg();
   padding-top: 44px;
}
.line-vert-l_common,
.line-vert-r_common,
.line-center_common{
   position: absolute;
   top: 0;
   bottom: 0;
}
.line-center_common{
   &::after{
      display: none;
   }
}
.ourteam .container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 46px;
}
.block__title {
   font-weight: 700;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 0.5em;
   text-align: center;
   text-transform: uppercase;
}
.image-block_left{
   text-align: right;
}
.image-block__cube_left {
   position: absolute;
   left: 0;
   z-index: 2;
}